---
import Layout from "../layouts/Layout.astro";
import { Card } from "opui-css/astro";
---

<Layout>
  <section class="container ui-rich-text">
    <h1>Hej</h1>
  </section>

  <section class="container">
    <h2>Things I do</h2>

    <Card variant="outlined">
      <img src="/opui-index.png" alt="Open Props UI website screenshot" />
      <Fragment slot="header">
        <p>Personal project</p>
        <h3>Open Props UI</h3>
        <p>CSS component library exploring modern HTML & CSS.</p>
      </Fragment>
    </Card>
  </section>
</Layout>
